# =========================
# Maven
# =========================
target/
*.class

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*
# SQLite database
*.db
*.sqlite
*.sqlite3